.full-width {
  width: 100%;
  vertical-align: middle !important;
}

.myform {
  margin: auto;
  padding: 0 25%;
}

.shipping-card {
  text-align: center !important;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}
