<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editProjSet">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Set Edit</b></h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <div class="mb-3">
                    <label for="setForm" class="form-label ps-3"><b><i>Select Projects to Show and Order of Appearance</i></b></label>
                    <form class="p-3" [formGroup]="setForm" (submit)="setSubmit()">
                        <div class="grid-container">
                            <label for="pprojshownlist"><b>Shown Projects</b></label>
                            <div id="pprojshownlist" *ngFor="let projTrue of projListTrue; index as i">
                                <input id="projTrue{{projTrue.projId}}" type="checkbox" [value]="projTrue.projId" checked
                                    (change)="onCheckboxChange($event)"><span class="ms-1">{{projTrue.projName}} </span>
                                    <input class="proj-index" type="number" id="{{projTrue.projId}}" [value]=projTrue.projIndex min="1" max="99" (change)="onIndexChange($event)">
                            </div>
                            <label for="projnotsownlist"><b>Not Shown Projects</b></label>
                            <div id="projnoshownlist" *ngFor="let projFalse of projListFalse; index as i">
                                <input id="proFjalse{{projFalse.projId}}" type="checkbox" [value]="projFalse.projId" (change)="onCheckboxChange($event)" ><span class="ms-1">{{projFalse.projName}}</span>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success m-2" type="submit" value="Submit">
                    Confirm
                </button>
            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>