.header {
    width: 100%;
    background-color: gray;
    margin: 0ch;
    padding-top: 4ch;
}
  
  .header-image {
    background-image: url('../../../../assets/fotocurric1.jpg');
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  .image{
    margin-left: 8ch;
    padding-left: 6ch;
  }

  .title{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 5ch;
    text-align: center;
    color: aliceblue;
  }

  .explanation{
    font-size: 4ch;
    text-align: right;
    vertical-align:bottom;
  }

  .button{
    margin-right: 5%;
    margin-left: 70%;
  }
