<div class="container">
    <!-- The Modal-->
    <div class="modal" id="newProj">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Project</h4>
                    <button id="nprbtn" type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form id="nprform" class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="prname" class="form-label">Project Name</label>
                        <input id="prname" class="form-control" formControlName="projName" value={{proj.projName}}>
                    </div>
                    <div class="mb-3">
                        <label for="prdesc" class="form-label">Project Description</label>
                        <input id="prdesc" class="form-control" type="text" value={{proj.projDescription}} formControlName="projDescription">
                    </div>
                    <div class="mb-3">
                        <label for="prurl" class="form-label">Project Url</label>
                        <input id="prurl" class="form-control" value={{proj.projUrl}} formControlName="projUrl">
                    </div>
                    <div class="text-center">
                        <label for="nprojIndex"><b>Order of Apperance :</b></label>
                        <input id="nprojIndex" class="proj-index-box" value={{proj.projIndex}} type="number" formControlName="projIndex" min="1" max="99">
                    </div>
                    <div class="mb-3">
                        <label for="nprtechSelect" class="form-label">Select Technologies</label>
                        <div class="grid-container">
                            <div class="row">
                                <div class="tech">
                                    <label for="prtechshownlist"><b>Shown Techs</b></label>
                                    <div id="prtechshownlist" *ngFor="let techTrue of techListTrue; index as i">
                                        <input id="techTrue{{techTrue.techId}}" type="checkbox" [value]="techTrue.techId" checked
                                        (change)="onCheckboxChange($event)"><span class="ms-1">{{techTrue.techName}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="tech">
                                    <label for="technotsownlist"><b>Not Shown Techs</b></label>
                                    <div id="technoshownlist" *ngFor="let techFalse of techListFalse; index as i">
                                        <input id="techFalse{{techFalse.techId}}" type="checkbox" [value]="techFalse.techId" (change)="onCheckboxChange($event)" ><span class="ms-1">{{techFalse.techName}}</span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="prbtnsubmit" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="prbtnclose" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>