<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editTech">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Technology Edit</h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="tname" class="form-label">Tecnology Name</label>
                        <input id="tname" class="form-control" formControlName="techName" value={{tech.techName}}>
                    </div>
                    <div class="mb-3">
                        <label for="ttype" class="form-label">Technology Type</label>
                        <input id="ttype" class="form-control" type="text" value={{tech.techType}} formControlName="techType">
                    </div>
                    <div class="mb-3">
                        <label for="tdesc" class="form-label">Technology Description</label>
                        <input id="tdesc" class="form-control" value={{tech.techDescription}} formControlName="techDescription">
                    </div>
                    <div class="mb-3">
                        <label for="ticon" class="form-label">Url Icon Url</label>
                        <input id="ticon" class="form-control" type="text" value={{tech.techIconUrl}} formControlName="techIconUrl">
                    </div>
                    <div class="mb-3">
                        <label for="tlevel" class="form-label">Experience Level</label>
                        <input id="tlevel" class="form-control" type="text" value={{tech.techLevel}} formControlName="techLevel">
                    </div>
                    <div class="mb-3">
                        <label for="tindex" class="form-label">Appearance Order</label>
                        <input id="tindex" class="form-control" type="text" value={{tech.techIndex}} formControlName="techIndex">
                    </div>
                    <div class="mb-3">
                        <label for="techsshowtrue" class="form-label">Show Tech _</label>
                        <input name="techshow" id="techshowtrue" type="radio" (value)="true" checked (change)="onCheckboxChange(true)" >
                        <label for="techsshowfalse" class="form-label">Hidde Tech _</label>
                        <input name="techshow" id="techshowfalse" type="radio" (value)="false" (change)="onCheckboxChange(false)" >
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>