<div class="container">
    <!-- The Modal-->
    <div class="modal" id="newAbout">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">New About</h4>
                    <button id="newAb" type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form id="formAbSubm" class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="abfname" class="form-label">First Name</label>
                        <input id="abfname" class="form-control" formControlName="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="ablname" class="form-label">Last Name</label>
                        <input id="ablname" class="form-control" type="text" formControlName="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="about-description" class="form-label">About Description</label>
                        <textarea class="form-control" formControlName="shortExplanation" id="about-description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="abimage-url" class="form-label">Image URL</label>
                        <input id="abimage-url" class="form-control" type="text" formControlName="photoUrl">
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="abbtnsubmit" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="abbtnclosesubmit" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>