<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editAbout">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">About Edit</h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="abedfaname" class="form-label">First Name</label>
                        <input id="abedfaname" class="form-control" formControlName="firstName" value={{about.firstName}}>
                    </div>
                    <div class="mb-3">
                        <label for="abedlaname" class="form-label">Last Name</label>
                        <input id="abedlaname" class="form-control" type="text" value={{about.lastName}} formControlName="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="delabout-description" class="form-label">About Description</label>
                        <textarea class="form-control" formControlName="shortExplanation" value={{about.shortExplanation}} id="delabout-description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="delabimage-url" class="form-label">Image URL</label>
                        <input id="delabimage-url" class="form-control" type="text" value={{about.photoUrl}} formControlName="photoUrl">
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="delabbttnnsub" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="delabbttnclose" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>