.proj-container {
    background-color: lavender;
    padding: 3vmax;
    border-radius: 1%;
    margin-bottom: 2vw;
}

.proj {
    border-radius: 1%;
}

.proj-title {
    padding: 2.5vh 0 0 0;
    font-size: 3vmax;
    text-align: center;
}

.items {
    padding-top: 3vmax;
    padding-inline: 2vh;
}

.items-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6vmax;
    font-weight: 800;
}

.par-bold{
    padding: 4vh 0;
}

.proj-name {
    padding: 4vh 0;
    font-size: 2vmax;
    text-align: center;
}

.proj-logo {
    width: 5vw;
    height: auto;
    border-radius: 20%;
    /* border: 1px solid blue; */
}

.repo-logo {
    width: 4vw;
    height: auto;
    border-radius: 20%;
    /* border: 1px solid blue; */
}

.items-text {
    font-size: 1.3vmax;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 15%);
    grid-template-rows: repeat(auto-fill, 45%);
    gap: 1vh 0.5vh;
    padding: 2.5vw 2.5vw 5.5vw 2.5vw;
}

.tech-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vmax;
    font-weight: 800;
}

.small{
    font-size: 0.9vmax;
}

/* 
.grid-container>div>img {
    text-align: center;
    padding: 2px 0;
}
 */
 /* .item1 {
    grid-column: 1 / 2;
}
 */
/* 
 .tech-logo{
    border-radius: 10%;
    min-width: 50px;
    max-width: 6vw;
    max-height: 2vw;
    min-height: 30px;
    margin: 1ch 0;
    padding: 0.5ch 0;
    border: 1px solid rgb(255, 60, 0);
    
}
 */
 
 /*  .tech-logo-cont{
     min-width: 45%;
    }
    */
    .tech-cont {
        margin: 1vmax 0 1vmax 2vmax;
        padding: 2vmax 0.5vmax;
        border-radius: 1%;
        background-color: rgb(168, 201, 190);
    }
    
    
    @media screen and (max-width: 720px) {
        
    .items {
        padding-top: 2ch;
        padding-inline: 1ch;
    }
    
    .items-title {
        font-size: 1.5vmax;
    }
    
    .proj-name {
        font-size: 1.5vmax;
    }
    .items-text {
        font-size: 1.5vmax;
    }
}

.wait{
    padding-bottom: 3vw;
    font-family: monospace;
    font-size: 1.5vmax;
    color: greenyellow;
    text-align: center;
    opacity: 0.5;
}

.loader {
    background-color: gray;
    opacity: 0.6;
    margin: 40px auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.shdw {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.shdw:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}