<div class="container">
    <!-- The Modal-->
    <div class="modal" id="newTech">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">New Technology</h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="ntname" class="form-label">Tecnology Name</label>
                        <input id="ntname" class="form-control" formControlName="techName" placeholder={{tech.techName}}>
                    </div>
                    <div class="mb-3">
                        <label for="nttype" class="form-label">Technology Type</label>
                        <input id="nttype" class="form-control" type="text" placeholder={{tech.techType}} formControlName="techType">
                    </div>
                    <div class="mb-3">
                        <label for="ntdesc" class="form-label">Technology Description</label>
                        <input id="ntdesc" class="form-control" placeholder={{tech.techDescription}} formControlName="techDescription">
                    </div>
                    <div class="mb-3">
                        <label for="nticon" class="form-label">Url Icon Url</label>
                        <input id="nticon" class="form-control" type="text" placeholder={{tech.techIconUrl}} formControlName="techIconUrl">
                    </div>
                    <div class="mb-3">
                        <label for="ntlevel" class="form-label">Experience Level</label>
                        <input id="ntlevel" class="form-control" type="text" placeholder={{tech.techLevel}} formControlName="techLevel">
                    </div>
                    <div class="mb-3">
                        <label for="ntindex" class="form-label">Appearance Order</label>
                        <input id="ntindex" class="form-control" type="text" placeholder={{tech.techIndex}} formControlName="techIndex">
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>