<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editEdu">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Education Edit</h4>
                    <button id="edueditbtnclosex" type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form id="eduEform" class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="eduiname" class="form-label">Institution Name</label>
                        <input id="eduiname" class="form-control" formControlName="institutionName" value={{education.institutionName}}>
                    </div>
                    <div class="mb-3">
                        <label for="eduilink" class="form-label">Institution Link</label>
                        <input id="eduilikn" class="form-control" type="text" value={{education.institutionLink}} formControlName="institutionLink">
                    </div>
                    <div class="mb-3">
                        <label for="eduilogo" class="form-label">Institution Logo</label>
                        <input id="eduilogo" class="form-control" value={{education.institutionLogo}} formControlName="institutionLogo">
                    </div>
                    <div class="mb-3">
                        <label for="educareer" class="form-label">Career Name</label>
                        <input id="educareer" class="form-control" type="text" value={{education.educationCareer}} formControlName="educationCareer">
                    </div>
                    <div class="mb-3">
                        <label for="edutype" class="form-label">Career Type</label>
                        <input id="edutype" class="form-control" type="text" value={{education.educationType}} formControlName="educationType">
                    </div>
                    <div class="mb-3">
                        <label for="edustart" class="form-label">Start Date</label>
                        <input id="edustart" class="form-control" type="date" value={{education.educationStart}} formControlName="educationStart">
                    </div>
                    <div class="mb-3">
                        <label for="eduend" class="form-label">End Date</label>
                        <input id="eduend" class="form-control" type="date" value={{education.educationEnd}} formControlName="educationEnd">
                    </div>
                    <div class="mb-3">
                        <label for="edulevel" class="form-label">Aproved Level</label>
                        <input id="edulevel" class="form-control" value={{education.approvedLevel}} formControlName="approvedLevel">
                    </div>
                    <div class="text-center">
                        <label for="eduIndex"><b>Order of Apperance :</b></label>
                        <input id="eduIndex" class="edu-index-box" value={{education.eduIndex}} type="number" min="1" max="99" formControlName="eduIndex">
                    </div>
                    <hr>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="eduEbtnsubmit" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="eduEbtnclose" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>