<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editTech">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Technology Edit</h4>
                    <button id="tecEdbuttonx" type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form id="techedOneform" class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="tEname" class="form-label">Tecnology Name</label>
                        <input id="tEname" class="form-control" formControlName="techName" value={{tech.techName}}>
                    </div>
                    <div class="mb-3">
                        <label for="tEtype" class="form-label">Technology Type</label>
                        <input id="tEtype" class="form-control" type="text" value={{tech.techType}} formControlName="techType">
                    </div>
                    <div class="mb-3">
                        <label for="tEdesc" class="form-label">Technology Description</label>
                        <input id="tEdesc" class="form-control" value={{tech.techDescription}} formControlName="techDescription">
                    </div>
                    <div class="mb-3">
                        <label for="tEicon" class="form-label">Url Icon Url</label>
                        <input id="tEicon" class="form-control" type="text" value={{tech.techIconUrl}} formControlName="techIconUrl">
                    </div>
                    <div class="mb-3">
                        <label for="tElevel" class="form-label">Experience Level</label>
                        <input id="tElevel" class="tech-index-box" type="number" min="1" max="100" value={{tech.techLevel}} formControlName="techLevel">
                    </div>
                    <div class="text-center">
                        <label for="techEEIndex">Order of Apperance :</label>
                        <input id="techEEIndex" class="tech-index-box" value={{tech.techIndex}} type="number" min="1" max="99" formControlName="techIndex">
                    </div>
                    <hr>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="techBntSend" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="techBtnCancel" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>