<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editTechSet">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Set Edit</b></h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <div class="mb-3">
                    <label for="setForm" class="form-label ps-3"><b><i>Select Technologies to Show and Order of Appearance</i></b></label>
                    <form class="p-3" [formGroup]="setForm" (submit)="setSubmit()">
                        <div class="grid-container">
                            <label for="techshownlist"><b>Shown Techs</b></label>
                            <div id="techshownlist" *ngFor="let techTrue of techListTrue; index as i">
                                <input id="techTrue{{techTrue.techId}}" type="checkbox" [value]="techTrue.techId" checked
                                    (change)="onCheckboxChange($event)"><span class="ms-1">{{techTrue.techName}} </span>
                                    <input class="tech-index" type="number" id="{{techTrue.techId}}" [value]=techTrue.techIndex min="1" max="99" (change)="onIndexChange($event)">
                            </div>
                            <label for="technotsownlist"><b>Not Shown Techs</b></label>
                            <div id="technoshownlist" *ngFor="let techFalse of techListFalse; index as i">
                                <input id="techFalse{{techFalse.techId}}" type="checkbox" [value]="techFalse.techId" (change)="onCheckboxChange($event)" ><span class="ms-1">{{techFalse.techName}}</span>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success m-2" type="submit" value="Submit">
                    Confirm
                </button>
            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>