@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.color-white{
    color: white !important;
}

.yo-programo{
    font-family: "Poppins", "sans-serif";
}

.mynav {
  background-color: #5E6EC9;
  }


