@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.color-white{
    color: white !important;
}

.arg-progama{
    margin: 0 2ch 0 1ch;
}

.yo-programo{
    font-family: "Poppins", "sans-serif";
    font-size: 100%;
}

.mynav {
  background-color: #5E6EC9;
  }

.current-user{
    margin: 0 0 0 2ch;
    text-align:center;
    font-weight: 900px !important;
}


