<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editProj">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Projects Edit</h4>
                    <button id="proEdbutttonx" type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="prename" class="form-label">Project Name</label>
                        <input id="prename" class="form-control" formControlName="projName" value={{proj.projName}}>
                    </div>
                    <div class="mb-3">
                        <label for="predesc" class="form-label">Project Description</label>
                        <input id="predesc" class="form-control" type="text" value={{proj.projDescription}} formControlName="projDescription">
                    </div>
                    <div class="mb-3">
                        <label for="preurl" class="form-label">Project Url</label>
                        <input id="preurl" class="form-control" value={{proj.projUrl}} formControlName="projUrl">
                    </div>
                    <div class="text-center">
                        <label for="projEdIndex"><b>Order of Apperance :</b></label>
                        <input id="projEdIndex" class="proj-index-box" value={{proj.projIndex}} type="number" min="1" max="99" formControlName="projIndex">
                    </div>
                    <div class="mb-3">
                        <label for="prtechSelect" class="form-label">Select Technologies</label>
                        <div id="prtechSelect" class="grid-container">
                            <div class="row">
                                <div class="tech">
                                    <label for="prtechshownlist"><b>Shown Techs</b></label>
                                    <div name="prtechshownlist" *ngFor="let techTrue of techListTrue">
                                        <input id="prEdtechTrue{{techTrue.techId}}" type="checkbox" [value]="techTrue.techId" checked
                                        (change)="onCheckboxChange($event)"><span id="spanTR{{techTrue.techId}}" class="ms-1">{{techTrue.techName}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="tech">
                                    <label for="prtechnotsownlist"><b>Not Shown Techs</b></label>
                                    <div name="prtechnoshownlist" *ngFor="let techFalse of techListFalse">
                                        <input id="prEdtechFalse{{techFalse.techId}}" type="checkbox" [value]="techFalse.techId" (change)="onCheckboxChange($event)" ><span id="spantech{{techFalse.techId}}" class="ms-1">{{techFalse.techName}}</span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="prEdbuttonSend" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="prBtnEdClos" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>