.lang-container{
    background-color: aqua;
    padding: 3ch;
    border: solid 1px;
}

.lang-title{
    padding: 1ch 0ch;
    font-size: 4ch;
    text-align: center;
}

.items{
    padding-top: 2ch;
}

.items-title{
    font-family:'Times New Roman', Times, serif;
    font-size: 3ch;
    font-weight: 800;
}

.lang-name{
    font-size: 2.5ch;
}

.lang-logo{
    width:"auto";
    max-height:30px;
    border-radius: 10%;
    border: 2px solid blue;
}

.items-text{
    font-size: 2ch;
}

.loader {
    background-color: blue;
    margin: 40px auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}