<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editJob">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Job Experience Edit</h4>
                    <button id="jobeditbtnclosex" type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="jobcname" class="form-label">Company Name</label>
                        <input id="jobcname" class="form-control" formControlName="companyName" value={{job.companyName}}>
                    </div>
                    <div class="mb-3">
                        <label for="jobclink" class="form-label">Company Link</label>
                        <input id="jobclikn" class="form-control" type="text" value={{job.companyLink}} formControlName="companyLink">
                    </div>
                    <div class="mb-3">
                        <label for="jobclogo" class="form-label">Company Logo</label>
                        <input id="jobclogo" class="form-control" value={{job.companyLogoUrl}} formControlName="companyLogoUrl">
                    </div>
                    <div class="mb-3">
                        <label for="jobcactivity" class="form-label">Company Activity</label>
                        <input id="jobcactivity" class="form-control" type="text" value={{job.companyActivity}} formControlName="companyActivity">
                    </div>
                    <div class="mb-3">
                        <label for="jobposition" class="form-label">Job Position</label>
                        <input id="jobposition" class="form-control" type="text" value={{job.jobPosition}} formControlName="jobPosition">
                    </div>
                    <div class="mb-3">
                        <label for="jobduties" class="form-label">Job Duties</label>
                        <input id="jobduties" class="form-control" type="text" value={{job.jobDuties}} formControlName="jobDuties">
                    </div>
                    <div class="mb-3">
                        <label for="joblessons" class="form-label">Lessons Learned</label>
                        <textarea id="joblessons" class="form-control" type="text" value={{job.lessonsLearned}} formControlName="lessonsLearned" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="jobstart" class="form-label">Start Date</label>
                        <input id="jobstart" class="form-control" type="date" value={{job.jobStart}} formControlName="jobStart">
                    </div>
                    <div class="mb-3">
                        <label for="jobend" class="form-label">End Date</label>
                        <input id="jobend" class="form-control" type="date" value={{job.jobEnd}} formControlName="jobEnd">
                    </div>
                    <div class="text-center">
                        <label for="jobEIndex">Order of Apperance :</label>
                        <input id="jobEIndex" class="job-index-box" value={{job.jobIndex}} type="number" min="1" max="99" formControlName="jobIndex">
                    </div>
                    <hr>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="jobEbtnsubbmit" class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button id="jobEbtnclose" class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>