.tech-container{
    background-color: aqua;
    padding: 3ch;
    border: solid 1px;
}

.tech-title{
    padding: 1.5ch 0ch 0ch 0ch;
    font-size: 4ch;
    text-align: center;
}

.items{
    padding-top: 2ch;
}

.items-title{
    font-family:'Times New Roman', Times, serif;
    font-size: 3ch;
    font-weight: 800;
}

.tech-name{
    padding: 2ch 0ch;
    font-size: 2.5ch;
}

.tech-logo{
    border-radius: 10%;
    width: 8vw;
    max-height: 10vw;
    margin: 4ch 0;
/*     border: 1px solid rgb(255, 60, 0);
 */
}

.items-text{
    font-size: 2ch;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15%);
    grid-template-rows: repeat(auto-fill, 25%);
    justify-content: center;
    grid-gap: 2ch 0;
    padding: 1ch;
    overflow-y: auto;
    overflow-x: hidden;
}
.icons { 
    padding: 1ch; 
}

.loader {
    background-color: blue;
    margin: 40px auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* 
@media screen and (max-device-width: 600px) {
    div>div>div>.icons { grid-template-columns: repeat(3, 1fr) !important; }
  }
  
  @media screen and (max-device-width: 900px) {
    .icons { grid-template-columns: repeat(8, 1fr) !important; }
  }
 */
  /* 
  .grid-container > div > img {
    text-align: center;
    padding: 1ch 0;
  } */
  /* 
  .item1 {
    grid-column: 1 / 4;
  } */