<div class="container">
    <!-- The Modal-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">About Edit</h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <!-- Modal body -->
                <!-- <div class="modal-body">
                    <form [formGroup]="formdata" (ngSubmit)="on_submit(formdata.value)" class="form"
                        enctype="multipart/form-data">
                        <div class="form-group"
                            [ngClass]="{error:formdata.controls.Fname.errors && formdata.controls.Fname.touched}">
                            <label for="Inputuname">Photo Upload <span class="required-asteric">*</span></label>
                            <div class="input-group controls">
                                <input formControlName="Fname" type="text" class="form-control">
                                <div *ngIf="formdata.controls.Fname.errors && formdata.controls.Fname.touched"
                                    style="color:red;float: left;width: 100%;background: #ff000014;margin-top: 10px;padding: 10px 2px 0px 1px;">
                                    <ul>
                                        <li>Fname is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
 -->
                <!-- Modal footer -->
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
 -->
            </div>
        </div>
    </div>

</div>