<div class="container">
    <!-- The Modal-->
    <div class="modal" id="editProj">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Projects Edit</h4>
                    <button type="button" class="close" (click)="closePopup()">&times;</button>
                </div>
                <form class="p-3" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
                    <br />
                    <div class="mb-3">
                        <label for="pname" class="form-label">Project Name</label>
                        <input id="pname" class="form-control" formControlName="projName" value={{proj.projName}}>
                    </div>
                    <div class="mb-3">
                        <label for="pdesc" class="form-label">Project Description</label>
                        <input id="pdesc" class="form-control" type="text" value={{proj.projDescription}} formControlName="projDescription">
                    </div>
                    <div class="mb-3">
                        <label for="purl" class="form-label">Project Url</label>
                        <input id="purl" class="form-control" value={{proj.projUrl}} formControlName="projUrl">
                    </div>
                    <div class="mb-3">
                        <label for="techSelect" class="form-label">Select Technologies</label>
                        <form class="p-3" [formGroup]="insideForm" (submit)="insideSubmit()">
                        <div class="grid-container">
                                <div *ngFor="let tec of techListTrue; index as i">
                                    <input id="tec{{tec.techId}}" type="checkbox" [value]="tec.techId" checked="true"  (change)="onCheckboxChange($event)" ><span>{{tec.techName}} </span>
                                </div>
                                <div *ngFor="let techn of techListFalse; index as i">
                                    <input id="techn{{techn.techId}}" type="checkbox" [value]="techn.techId"   (change)="onCheckboxChange($event)" ><span>{{techn.techName}} </span>
                                </div>
                                <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-success m-2" type="submit" value="Submit">
                                        Confirm
                                    </button>
                                </div> -->
                            </div>
                        </form>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success m-2" type="submit">
                            Send
                        </button>
                        <button class="btn btn-secondary m-2" type="button" (click)="closePopup()">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>