/* You can add global styles to this file, and also import other style files */

html{
    overflow-x: hidden;
    
}
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; /* height of the footer */
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
