<footer class="text-center text-white align-bottom" style="background-color: #999;">
    <!-- Grid container -->
    <!-- <div class="container p-4"></div> -->
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a target="_blank" class="text-white" href="https://portfoliogottig.herokuapp.com/swagger-ui/index.html">
        Portfolio API Info (Swagger)</a>
      © 2022 Copyright:
      <a class="text-white" href = "mailto: gottigjavier@gmail.com">Gottig Javier</a>
    </div>
    <!-- Copyright -->
  </footer>