<footer class="text-center text-white align-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
    <!-- Grid container -->
    <!-- <div class="container p-4"></div> -->
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div>
      <a title="API Info (Swagger)" target="_blank" class="text-white" href="https://portfoliogottig.herokuapp.com/swagger-ui/index.html">
        Portfolio API Info (Swagger)</a>
      © 2022 Copyright:
      <a title="Send me an Email" class="text-white" href = "mailto: gottigjavier@gmail.com">Gottig Javier</a>
    </div>
    <!-- Copyright -->
  </footer>